.container {
    background-color: #f7f6f6;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    .img-wrapper {
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        & img {
            width: 90%;
            height: 100%; 
        }
    }
}
p{
    font-size: 20px;
    color:#867a70b0;
    font-family: 'Philosopher',sans-serif; 
    letter-spacing: 3px;
    font-weight: 400;
}
